body {
    margin: 0;
    padding-bottom: 10px;
    background-color: #000;
    font-family: Arial, sans-serif;
}

h2 {
    font-size: 25px;
}

p {
    font-size: small;
}

a {
    text-decoration: none;
}

.all-content {
    padding-top: 65px;
    padding-left: 15%;
    padding-right: 15%;
    opacity: 0; /* Initially hide content */
    transform: translateY(20px); /* Initial position */
    transition: opacity 0.5s, transform 0.5s;
}

.all-content.move-up {
    opacity: 1; /* Show content */
    transform: translateY(0); /* Move content up */
}


.content-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 1.5%;
}

.title {
    color: #d9b061;
    font-size: 17.64em;
    font-weight: bold;
    padding-bottom: 1%;
    text-align: center;
}

.welcome-card {
    width: 925px;
    height: 280px;
    border-radius: 10px;
    background-color: #3b3b40;
    overflow: hidden;
}

.welcome-card video{
    width: 835px;
    display: block;
    margin: 0 auto; 
}

.info-card {
    width: 350px;
    height: 280px;
    background-color: #333639;
    border-radius: 10px;
    overflow: hidden;
    margin-left: 20px;
}

.info-card .content {
    padding: 20px;
}

.info-card .tagline,
.about-me .content .message,
.experience .content .entry {
    margin: 0;
    font-size: 20px;
    color: #ffffe4;
}

.info-card .title {
    margin: 50px 0 20px 0;
    font-size: 40px;
    color: #e7ce5c;
    font-weight: bold;
    text-align: left;
}

.about-me {
    width: 637.5px;
    height: 280px;
    background-color: #333639;
    border-radius: 10px;
    overflow: hidden;
    margin-right: 20px;
}

.about-me .content {
    margin: 12% 5% 6% 5%;
}

.about-me .content .title {
    margin: 0;
    font-size: xx-large;
    text-align: left;
    color: #e7ce5c;
    padding-bottom: 2%;
}

.experience {
    width: 637.5px;
    height: 280px;
    background-color: #333639;
    border-radius: 10px;
    overflow: hidden;
}

.experience .content {
    margin: 12% 5% 6% 5%;
}

.experience .content .title {
    margin: 0;
    font-size: xx-large;
    text-align: left;
    color: #e7ce5c;
    padding-bottom: 2%;
}

.experience .content .timeline {
    color: #a3a3a3;
    margin: 0 0 0 10px;
    font-size: 15px;
}

.linkedin-card {
    width: 350px;
    height: 280px;
    border-radius: 10px;
    background-color: #333639;
    cursor: pointer;
    overflow: hidden;
    transition: background-color 0.3s, transform 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.linkedin-card:hover {
    transform: scale(1.05);
    background-color: #1b76b4;
}

.fa-linkedin-square {
    transition: font-size 0.1s ease;
}

.contact-card {
    margin-right: 20px;
    margin-left: 20px;
    width: 550px;
    height: 280px;
    background-color: #333639;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    overflow: hidden;
    transition: background-color 0.3s, transform 0.3s;
    position: relative;
}

.contact-card:hover {
    background-color: #0f1a46;
    transform: scale(1.05);
}

.contact-card .content {
    position: absolute;
    bottom: 20px;
    left: 20px;
    text-align: left; 
}

.contact-card .tagline {
    margin: 0;
    color: #ffffe4;
    font-size: 20px;
    font-weight: bold;
}

.contact-card .title {
    margin: 5px 0;
    color: #d9b061;
    font-size: 42px;
    font-weight: bold;
}

.resume-card {
    width: 350px;
    height: 280px;
    border-radius: 10px;
    background: linear-gradient(to right, #333639 50%, #ffffe4 50%);
    background-size: 200% 100%;
    background-position: left;
    cursor: pointer;
    overflow: hidden;
    transition: background-position 0.5s, color 0.3s, transform 0.3s;
}

.resume-card:hover {
    background-position: right;
    transform: scale(1.05);
    color: #000;
}

.additional-info-resume {
    margin: 100px 30px 30px 30px;
}

.resume-card:hover h2,
.resume-card:hover p {
    color: #000;
    transition: transform 0.3s ease;
}

.resume-card h2,
.resume-card p {
    color: #ffffe4;
    transition: color 0.3s;
}