body {
    margin: 0;
    padding-bottom: 10px;
    background-color: #000;
    font-family: Arial, sans-serif;
}

h1 {
    color: #d9d5c9;
}

.contact-info h2 {
    font-size: 40px;
}

.contact-info p {
    font-size: 22px;
}

.contact-info a {
    text-decoration: none;
}

.all-content {
    padding-top: 65px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s, transform 0.5s;
}

.all-content.move-up {
    opacity: 1;
    transform: translateY(0);
}

.content-wrapper {
    margin: 1% 15% 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.contact-info h2 {
    color: #d9b061;
}

.label {
    color: grey;
    display: inline-block;
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: normal;
}

.detail {
    color: #d9d5c9;
    display: block;
}

.contact-info {
    width: 366px;
    height: 450px;
}

.social-icons {
    display: flex;
}

.social-icon {
    color: #ffffe4;
    font-size: 24px;
    margin-top: 20px;
    margin-right: 20px;
    transition: color 0.3s;
}

.social-icon:hover {
    color: #d9c4a9;
}

.contact-form {
    width: 610px;
    height: 386px;
    color: white;
    margin: 40px;
    margin-right: 0;
    padding: 20px;
    box-sizing: border-box;
    margin-left: auto;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: calc(100% - 32px);
    padding: 16px;
    margin-bottom: 24px;
    background-color: #333639;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
}

.contact-form textarea {
    height: 100px;
}

.contact-form button {
    width: calc(100% - 32px);
    height: 40px;
    background-color: #d9b061;
    color: black;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-form button:hover {
    background-color: #c59f58;
}

.card-container {
    display: flex;
}

.card {
    width: 315px;
    height: 300px;
    background-color: #333639;
    border-radius: 10px;
    margin-right: 20px;
    overflow: hidden;
    padding: 50px;
}

.card:last-child {
    margin-right: 0;
}

.card .detail {
    font-size: 22px;
}