.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #000;
    padding: 20px 15% 20px 15%;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-weight: bold;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-left img {
    position: relative;
    width: 144px;
    color: #fff;
}

.navbar-center {
    flex-grow: 1;
    text-align: center;
}

.navbar-center a {
    margin: 0 20px;
    text-decoration: none;
    color: #fff;
}

.navbar-right a {
    text-decoration: none;
    color: #000;
    background-color: #fff;
    padding: 8px 15px;
    border-radius: 20px;
}

.navbar-center a:hover {
    color: #d9c4a9;
}

.navbar-right a:hover {
    background-color: #d9c4a9;
    transition: background-color 0.3s, transform 0.3s;
}

.footer {
    margin-top: 40px;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-logo {
    width: 144px;
    margin-right: 30px;
}

.footer-nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.footer-nav a {
    color: #ffffe4;
    text-decoration: none;
    margin-right: 30px;
}

.footer-nav a:hover {
    color: #d9c4a9;
}

.footer-nav a:last-child {
    margin-right: 0;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icon {
    color: #ffffe4;
    font-size: 24px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    transition: color 0.3s;
}

.social-icon:hover {
    color: #d9c4a9;
}

.footer-texts {
    text-align: center;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.footer-texts p {
    color: #ffffe4;
    margin: 5px 20px;
    font-size: small;
}