body {
    margin: 0;
    padding-bottom: 10px;
    background-color: #000;
    font-family: Arial, sans-serif;
}

.all-content {
    padding-top: 65px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s, transform 0.5s;
}

.all-content.move-up {
    opacity: 1;
    transform: translateY(0);
}

.content-wrapper {
    margin: 1% 15% 0;
}

.left-resume-container {
    display: flex;
    flex-direction: column;
}

.left-column {
    width: 305px;
    padding: 30px;
    background-color: #333639;
    border-radius: 20px;
    margin-bottom: 20px;
}

.left-column:last-child {
    margin-bottom: 0;
}

.profile-card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.profile-card h2 {
    color: #fff9f1;
    margin-bottom: 10px;
    margin-top: 0;
}

.profile-card h3 {
    margin-top: 0;
    color: #d9d5c9;
}

.profile-card p {
    color: #d9d5c9;
    font-size: large;
}

.profile-card button {
    padding: 10px 20px;
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
}

.profile-card button:hover {
    background-color: #d9b061;
}

.social-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    color: #d9d5c9;
    font-size: large;
    text-decoration: none;
}

.social-link:hover {
    color: #d9b061;
    text-decoration: none;
}

hr {
    border: none;
    border-top: 1px solid #d9d5c925;
    margin: 10px 0;
}

.right-column {
    flex: 1;
    padding: 20px;
}

.right-column {
    width: calc(100% - 305px);
    padding: 20px;
    background-color: #ddd;
}

.right-column h2 {
    color: #333;
    margin-bottom: 10px;
}

.right-column h3 {
    color: #333;
    margin-top: 20px;
}

.timeline {
    font-size: small;
}

.timeline p {
    font-weight: bold;
}

.right-column p {
    margin-bottom: 20px;
}
