body {
    margin: 0;
    padding-bottom: 10px;
    background-color: #000;
    font-family: Arial, sans-serif;
}

h2 {
    font-size: 25px;
}

p {
    font-size: small;
}

a {
    text-decoration: none;
}

.all-content {
    padding-top: 65px;
    opacity: 0; /* Initially hide content */
    transform: translateY(20px); /* Initial position */
    transition: opacity 0.5s, transform 0.5s;
}

.all-content.move-up {
    opacity: 1; /* Show content */
    transform: translateY(0); /* Move content up */
}

.content-wrapper {
    margin: 1% 15% 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.about-card {
    position: relative;
    width: 550px;
    height: 280px;
    border-radius: 10px;
    background-color: #333639;
    cursor: pointer;
    overflow: hidden;
    transition: background-color 0.3s, transform 0.3s;
}

.about-card:hover {
    transform: scale(1.05);
}

.expand-icon {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    background-color: #d9b061;
    border-radius: 50%;
    transition: width 0.3s, height 0.3s, transform 0.3s;
}

.about-card:hover .expand-icon {
    width: calc(100% + 20px);
    height: calc(100% + 20px);
    transform: translate(-20px, 20px);
}

.profile-image {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin: 30px;
}

.text-container {
    padding: 0 30px 0 30px;
}

.name {
    font-size: 40px;
    color: #fff;
    font-weight: bold;
    margin: 0;
    transition: transform 0.3s ease;
}

.skills {
    font-size: 18px;
    font-weight: normal;
    color: #ffffe4;
    transition: transform 0.3s ease;
    
}

.resume-card {
    width: 265px;
    height: 280px;
    border-radius: 10px;
    background: linear-gradient(to right, #333639 50%, #ffffe4 50%);
    background-size: 200% 100%;
    background-position: left;
    cursor: pointer;
    overflow: hidden;
    transition: background-position 0.5s, color 0.3s, transform 0.3s;
    margin-left: 20px;
    margin-right: 20px;
}

.resume-card:hover {
    background-position: right;
    transform: scale(1.05);
    color: #000;
}

.additional-info-resume {
    margin: 100px 30px 30px 30px;
}

h2 ,p {
    color: #ffffe4;
    transition: color 0.3s;
}

.resume-card:hover h2,
.resume-card:hover p {
    color: #000;
    transition: transform 0.3s ease;
}

.linkedin-card {
    width: 440px;
    height: 280px;
    border-radius: 10px;
    background-color: #333639;
    cursor: pointer;
    overflow: hidden;
    transition: background-color 0.3s, transform 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.linkedin-card:hover {
    transform: scale(1.05);
    background-color: #1b76b4;
}

.fa-linkedin-square {
    transition: font-size 0.1s ease;
}

.project-one {
    width: 350px;
    height: 280px;
    border-radius: 10px;
    background-color: #D07560;
    cursor: pointer;
    overflow: hidden;
    transition: transform 0.3s;
}

.project-one:hover,
.project-two:hover,
.project-three:hover,
.project-four:hover,
.project-five:hover,
.project-six:hover {
    transform: scale(1.05);
}

.project-one video {
    width: 90%;
    margin-top: 1%;
}

.additional-info-project-1 p,
.additional-info-project-1 h2 {
    margin: 2% 10%;
}

.project-two {
    width: 555px;
    height: 280px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
    background-color: #A1918A;
    cursor: pointer;
    overflow: hidden;
    transition: transform 0.3s;
    position: relative;
}


.project-two .content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.project-two .tagline {
    margin-top: 35%;
    margin-left: 5%;
    margin-bottom: 0;
    color: #ffffe4;;
    font-size: 16px;
    z-index: 100;
    font-size: small;
}

.project-two .title {
    margin-left: 5%;
    margin-top: 1%;
    color: #ffffe4;;
    font-size: 24px;
    z-index: 100;
}

.project-two video {
    position: absolute; /* Layers video on top */
    margin: 4% 17%;
    width: 55%;
}

.project-three {
    width: 350px;
    height: 280px;
    background-color: #0F1A48;
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
    transition: transform 0.3s;
}

.project-three .tagline,
.project-three .title {
    margin: 0 10%;
}

.project-three video {
    width: 90%;
    margin-top: 3%;
}

.project-four {
    width: 350px;
    height: 280px;
    background-color: #25ac8a;
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
    transition: transform 0.3s;
}

.project-four .content p,
.project-four .content h2 {
    margin: 2% 10%;
}

.project-four img {
    width: 35%;
    margin: 8% 33%;
    transition: transform 0.3s;
}

.project-four:hover img {
    transform: translateY(20px) scale(1.2);
}

.project-five {
    width: 555px;
    height: 280px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #33aca2;
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
    transition: transform 0.3s;
    position: relative;
}

.project-five .content {
    margin-top: 8%;
}

.project-five .content p,
.project-five .content h2 {
    margin: 1% 10%;
}

.project-five img {
    height: 50%;
    position: relative;
    top: 10%;
    left: 20%;
    transition: transform 0.3s;
}

.project-five:hover img {
    transform: translateY(10px) scale(1.1);
}

.project-six {
    width: 350px;
    height: 280px;
    background-color: #242424;
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
    transition: transform 0.3s;
    position: relative;
}

.project-six .content {
    width: 100%;
    margin-top: 55%;
}

.project-six img {
    position: absolute;
    top: 0;
    left: 20%;
    width: 60%;
    height: 60%;
    object-fit: cover;
    transition: opacity 0.3s;
}

.project-six:hover img {
    opacity: 0; 
}

.project-six .hover-image {
    opacity: 0;
    transform: translateY(20px) scale(1.05);
}

.project-six:hover .hover-image {
    opacity: 1;
}

.project-six .content p,
.project-six .content h2 {
    margin: 2% 10%;
}

.contact-card {
    width: 637.5px;
    height: 280px;
    background-color: #333639;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    overflow: hidden;
    transition: background-color 0.3s, transform 0.3s;
    position: relative;
}

.contact-card:hover {
    background-color: #0f1a46;
    transform: scale(1.05);
}

.contact-card .content {
    position: absolute;
    bottom: 20px;
    left: 20px;
    text-align: left; 
}

.contact-card .tagline {
    margin: 0;
    color: #ffffe4;
    font-size: 20px;
    font-weight: bold;
}

.contact-card .title {
    margin: 5px 0;
    color: #d9b061;
    font-size: 42px;
    font-weight: bold;
}

.achievement-card {
    margin-left: 20px;
    width: 637.5px;
    height: 280px;
    background-color: #333639;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    overflow: hidden;
    transition: background-color 0.3s, transform 0.3s;
    position: relative; /* Ensure the content is positioned relative to this */
}

.achievement-card:hover {
    background-color: #2e86af;
    transform: scale(1.05);
}

.achievement-card .content {
    position: absolute;
    top: 20%;
    left: 5%;
    text-align: right;
}

.achievement-card .tagline {
    margin: 0;
    color: #ffffe4;
    font-size: 20px;
    font-weight: bold;
}

.achievement-card img {
    position: absolute;
    top: 15%;
    left: 29%;
    height: 70%;
    object-fit: cover;
    transition: opacity 0.3s;
}

.achievement-card:hover img {
    opacity: 0; 
}

.achievement-card .hover-image {
    opacity: 0;
    transform: translateY(10px) scale(1.05);
}

.achievement-card:hover .hover-image {
    opacity: 1;
}