.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    padding: 20px;
    color: #fff;
    text-align: center;
    font-family: "DM Sans", serif;

    .footer-logo {
        margin-bottom: 20px;

        img {
            width: 144px;
            height: auto;
        }
    }

    .logo-nav-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-bottom: 20px;
    }

    .logo-nav-container .footer-logo {
        margin-bottom: 0px;
        margin-right: 20px;
    }

    .footer-navigation {
        display: flex;
        gap: 30px;
        flex-wrap: wrap;
        @media (max-width: 872px) {
            gap: 20px;
        }

        a {
            text-decoration: none;
            color: #ffffe4;
            font-size: large;

            &:hover {
                color: #ffc552;
            }
        }
    }

    .socials {
        display: flex;
        gap: 30px;
        margin-bottom: 20px;

        a {
            color: #bcbab3;
            font-size: 2.5rem;

            &:hover {
                color: #ffc552;
            }
        }
    }

    .footer-texts {
        display: flex;
        flex-direction: row;
        gap: 30px;
        @media (max-width: 872px) {
            gap: 20px;
        }

        p {
            font-size: small;
            margin: 0;
        }
    }

    @media (max-width: 872px) {
     
        .logo-nav-container {
            flex-direction: column;
            align-items: center;
        }
        .logo-nav-container .footer-logo {
            margin-right: 0px;
            margin-bottom: 10px;
        }
        .footer-navigation {
            flex-direction: row;
            justify-content: center;
        }

        .footer-texts {
            flex-direction: column;
            align-items: center;
        }
    }
}