$primary-color: #ffc552;

@font-face {
  font-family: 'Helvetica Neue';
  src: url('./assets/fonts/helvetica-neu.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'La Belle Aurore';
  src: url('./assets/fonts/LaBelleAurore.woff2') format('woff2'),
    url('./assets/fonts/LaBelleAurore.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Coolvetica';
  src: url('./assets/fonts/CoolveticaRg-Regular.woff2') format('woff2'),
    url('./assets/fonts/CoolveticaRg-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

input,
textarea {
  font-family: 'Helvetica Neue', sans-serif;
}

.container {
  position: relative;
  margin: 0 15vw;
  width: 70vw;

  @media (max-width: 872px) {
    margin: 0 5vw;
    width: 90vw;
  }
}

// .row {
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: center;
//   gap: 20px;
//   padding: 20px 0;
//   max-height: 500px;
//   @media (max-width: 872px) {
//     max-height: fit-content;
//   }
// }

@keyframes scale-in {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.zoom-load {
  animation: scale-in 0.5s ease-out;
}

@keyframes slide-up {
  0% {
    transform: translateY(80px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.upwards-load {
  animation: slide-up 0.5s ease-out;
}

h1 {
  color: #ffc552;
  font-family: "DM Sans", serif;
  font-weight: 800;
  font-size: 35px;
  @media (max-width: 1330px) { // for about page
    font-size: 30px;
  }
  @media (max-width: 1140px) {
    font-size: 28px;
  }
  @media (max-width: 872px) {
    font-size: 35px;
  }
}

p {
  color: #ffffe4;
  font-family: "DM Sans", serif;
  font-weight: 500;
  font-size: 20px;
  @media (max-width: 1330px) {
    font-size: 18px;
  }
  @media (max-width: 1140px) {
    font-size: 15px;
  }
  @media (max-width: 872px) {
    font-size: 20px;
  }
}