// --- Square Card ---
.project-square-card {
  .project-video {
    display: block;
    width: 90%;
    height: 160px;
    margin: 1% auto 0 auto;
    object-fit: contain;
  }

  .project-info {
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;

    p,
    h1 {
      margin: 0% 10%;
      text-align: left;
      color: #fff;
    }

    p:not(.description) {
      opacity: 0.8;
      transition: opacity 0.3s ease-in-out;
    }

    .description {
      position: absolute;
      bottom: 0;
      left: 0;
      opacity: 0;
      margin: 0% 10%;
      font-size: 14px;
      font-weight: 500;
      font-family: "DM Sans", serif;
      transition: opacity 0.3s ease-in-out;
    }

    h1 {
      margin-top: 0;
      font-size: 25px;
      font-weight: bold;
      transform: translateY(0);
      transition: transform 0.3s ease-in-out;
    }
  }

  &:hover {
    .project-info {
      h1 {
        transform: translateY(-25px);
      }

      p:not(.description) {
        opacity: 0;
      }

      .description {
        opacity: 1;
      }
    }
  }
}

// --- Rectangle Card ---
.project-rectangle-card {
  .project-video {
    display: block;
    width: 90%;
    height: 160px;
    margin: -7px auto 0 auto;
    object-fit: contain;
  }

  .project-info {
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;

    p,
    h1 {
      margin: 0% 10%;
      text-align: left;
      color: #fff;
    }

    p:not(.description) {
      opacity: 0.8;
      transition: opacity 0.3s ease-in-out;
    }

    .description {
      position: absolute;
      bottom: 0;
      left: 0;
      opacity: 0;
      margin: 0% 10%;
      font-size: 14px;
      font-weight: 500;
      transition: opacity 0.3s ease-in-out;
    }

    h1 {
      margin-top: 0;
      font-size: 25px;
      font-weight: bold;
      transform: translateY(0);
      transition: transform 0.3s ease-in-out;
    }
  }

  &:hover {
    .project-info {
      h1 {
        transform: translateY(-25px);
      }

      p:not(.description) {
        opacity: 0;
      }

      .description {
        opacity: 1;
      }
    }
  }
}